body {
  background: #eaeaea;
  color: #4f4f4f;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

#container {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
}

h1 {
  color: #61a1bc;
}

h3 {
  color: #797B74;
}

button {
  border: 0;
  height: 40px;
  padding: 5px 15px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .15em;
  text-transform: uppercase;
  border-radius: 4px;
  color: #5e6163;
  background: #D9D9D9;
  position: relative;
}

button:hover {
  opacity: 0.75;
}

div.row {
  width: 100%;
  position: relative;
  display: table;
}

div.column {
  width: 50%;
  position: static;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 3% 3%;
}

ul.tile-cont {
  padding-left: 0;
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  display: table;
  position: relative;
}

li.tile {
  background: #fff;
  padding: 4%;
  margin: 1%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: inline-block;
}

li:hover {
  background: #eeeeee;
  cursor: pointer;
}

li.highlight {
  background: #61a1bc;
}
